.falls {
    width: 90px;
}

.night {
    width: 100px;
}

.falls :first-child{
    margin-left: 10px;
}


#gameInfoTable {
    width: 1100px;
}

#gameInfoTable th,
#gameInfoTable td {
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}



#metaData, #timerContainer {
    /*display: inline-block;*/
    float: left;
}

#timerTime {
    text-align: center;
}

.playerVoteOrder,
.playerVoteNumber,
.playerWhoNominate {
    width: 50px;
}

/*BOOTSTRAP*/
.control-group {
    margin: 1px;
}
.btn-group>.btn+.btn {
    margin-left: 3px;
}
.radio.inline, .checkbox.inline {
    padding-top: 0;
}
