.falls {
    width: 90px;
}

.day {
    width: 250px;
    margin: 0 auto;
}

.night {
    width: 100px;
}

.falls :first-child{
    margin-left: 10px;
}


#gameInfoTable {
    width: 1100px;
}

#gameInfoTable th,
#gameInfoTable td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}



.metaData .control-group {
    display: inline-block;
}

.playerVoteOrder,
.playerVoteNumber,
.playerWhoNominate {
    width: 50px;
}