<div class="btn-group control-group">
    <button class="btn btn-info" id="showRatingBtn">Show rating</button>
    <button class="btn btn-inverse" id="exportGamesBtn">Export games</button>
    <button class="btn btn-action" id="importGamesBtn">Import games</button>
    <button class="btn btn-danger" id="clearGameButton">Clear</button>
    <button class="btn btn-success" id="saveGameButton">Save game</button>
    <button class="btn btn-primary" id="loadGameButton">Load game</button>
    <button class="btn btn-warning" id="nextDayButton">Next Day -></button>
</div>