<td>
    <input type="text" class="playerVoteOrder" id="<%=playerNumber%> Day1VoteOrder" placeholder="Vote order" name="<%=playerNumber%>_Days_<%=dayNumber%>_VoteOrder">
    <input type="text" class="playerWhoNominate" id="<%=playerNumber%> Day1WhoNominate" placeholder="Who nominate?" name="<%=playerNumber%>_Days_<%=dayNumber%>_WhoNominate">
    <input type="text" class="playerVoteNumber" id="<%=playerNumber%> Day1VoteNumber" placeholder="Number of votes" name="<%=playerNumber%>_Days_<%=dayNumber%>_VoteNumber">
    <div class="day">
        <label class="checkbox inline">
            <input type="checkbox" class="playerHangCheckbox" id="player<%=playerNumber%>Day1Hanged" name="<%=playerNumber%>_Days_<%=dayNumber%>_Hanged"> Hanged
        </label>
    </div>
</td>
<td>
    <div class="night">
        <label class="checkbox inline">
            <input type="checkbox" class="playerKillCheckbox" id="player<%=playerNumber%>Night1Killed" name="<%=playerNumber%>_Days_<%=dayNumber%>_Killed"> Killed
        </label>
        <label class="checkbox inline">
            <input type="checkbox" class="playerUnmarkCheckbox" id="player<%=playerNumber%>Night1Unmarked" name="<%=playerNumber%>_Days_<%=dayNumber%>_Unmarked"> Unmarked
        </label>
        <label class="checkbox inline">
            <input type="checkbox" class="playerVerifyCheckbox" id="player<%=playerNumber%>Night1Verified" name="<%=playerNumber%>_Days_<%=dayNumber%>_Verified"> Verified
        </label>
    </div>
</td>