<td>
    <div class="day">
        <input type="text" class="playerVoteOrder" id="<%=playerNumber%> Day1VoteOrder" placeholder="Vote order" name="<%=playerNumber%> Days <%=dayNumber%> VoteOrder">
        <input type="text" class="playerWhoNominate" id="<%=playerNumber%> Day1WhoNominate" placeholder="Who nominate?" name="<%=playerNumber%> Days <%=dayNumber%> WhoNominate">
        <input type="text" class="playerVoteNumber" id="<%=playerNumber%> Day1VoteNumber" placeholder="Number of votes" name="<%=playerNumber%> Days <%=dayNumber%> VoteNumber">
        <label class="checkbox inline">
            <input type="checkbox" class="playerHangCheckbox" id="player<%=playerNumber%>Day1Hanged" name="<%=playerNumber%> Days <%=dayNumber%> Hanged"> Hanged
        </label>
    </div>
</td>
<td>
    <div class="night">
        <label class="checkbox inline">
            <input type="checkbox" class="playerKillCheckbox" id="player<%=playerNumber%>Night1Killed" name="<%=playerNumber%> Days <%=dayNumber%> Killed"> Killed
        </label>
        <label class="checkbox inline">
            <input type="checkbox" class="playerUnmarkCheckbox" id="player<%=playerNumber%>Night1Unmarked" name="<%=playerNumber%> Days <%=dayNumber%> Unmarked"> Unmarked
        </label>
        <label class="checkbox inline">
            <input type="checkbox" class="playerVerifyCheckbox" id="player<%=playerNumber%>Night1Verified" name="<%=playerNumber%> Days <%=dayNumber%> Verified"> Verified
        </label>
    </div>
</td>