<div class="control-group metaData">
      <div class="control-group">
        <label class="control-label" for="win">Победа</label>
        <div class="controls">
          <select name="win" id="winField">
              <option value="city">Город</option>
              <option value="mafia">Мафия</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="refereeField">Судья</label>
        <div class="controls">
          <input type="text" name="ref" id="refereeField">
        </div>
      </div>
</div>