<div class="control-group metaData">
      <div class="control-group">
        <label class="control-label" for="win">Win</label>
        <div class="controls">
          <select name="win" id="winField">
              <option value="city">Citiezens</option>
              <option value="mafia">Mafia</option>
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="refereeField">Referee</label>
        <div class="controls">
          <input type="text" name="ref" id="refereeField">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="date">Date</label>
        <div class="controls">
          <input type="date" name="date" id="date">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="gameNumber">Number of Game</label>
        <div class="controls">
          <input type="number" name="gameNumber" id="gameNumber" value="1">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="tableName">Table Name</label>
        <div class="controls">
          <select name="tableName" id="tableName">
              <option>Baker Street</option>
              <option>Downing Street</option>
              <option>Abbey Road</option>
              <option>Aldwoch</option>
              <option>Fleet Street</option>
          </select>
        </div>
      </div>
</div>