<div class="playerLinesContainer">
    <table class="table table-bordered" id="gameInfoTable">
        <tbody>
            <tr class="info">
                <th>Number</th>
                <th>Nick</th>
                <th>Role</th>
                <th>Falls</th>
                <th>Day 1</th>
                <th>Night 1</th>
            </tr>
<% for (var i = 1; i <= 10; i++) {
%>
<tr class="playerLine">
    <td>
        <label for="player<%=i%>name">Player <%=i%></label>
    </td>
    <td>
        <input type="text" class = "playerNameField" id="player<%=i%>name" placeholder="enter player <%=i%> nick">
    </td>
    <td>
        <select class = "playerRoleField" name="player<%=i%>role" id="player<%=i%>role">
            <option value="r">Мирный</option>
            <option value="b">Мафия</option>
            <option value="d">Дон</option>
            <option value="s">Шериф</option>
        </select>
    </td>
    <td>
        <div class="falls" id="player<%=i%>Falls">
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="1"> 1
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="2"> 2
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="3"> 3
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="4"> 4
            </label>
        </div>
    </td>
    <td>
        <div class="day">
            <input type="text" class="playerVoteOrder" id="player<%=i%>Day1VoteOrder" placeholder="Vote order">
            <input type="text" class="playerVoteNumber" id="player<%=i%>Day1VoteNumber" placeholder="Number of votes">
            <label class="checkbox inline">
                <input type="checkbox" class="playerHangCheckbox" value="player<%=i%>Day1Hanged"> Hanged
            </label>
        </div>
    </td>
    <td>
        <div class="night">
            <label class="checkbox inline">
                <input type="checkbox" class="playerKillCheckbox" value="player<%=i%>Night1Killed"> Killed
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerUnmarkCheckbox" value="player<%=i%>Night1Unmarked"> Unmarked
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerVerifyCheckbox" value="player<%=i%>Night1Verified"> Verified
            </label>
        </div>
    </td>
</tr>
<% }%>
        </tbody>
    </table>
</div>