<div class="playerLinesContainer">
    <table class="table table-bordered" id="gameInfoTable">
        <tbody>
            <tr class="info">
                <th>Number</th>
                <th>Nick</th>
                <th>Role</th>
                <th>Falls</th>
            </tr>
<% for (var i = 1; i <= 10; i++) {
%>
<tr class="playerLine">
    <td>
        <label for="player<%=i%>name">Player <%=i%></label>
    </td>
    <td>
        <input type="text" class="playerNameField" id="player<%=i%>name" placeholder="enter player <%=i%> nick" name="<%=i%> name">
    </td>
    <td>
        <select class = "playerRoleField" name="<%=i%> role" id="player<%=i%>role">
            <option value="r">Мирный</option>
            <option value="b">Мафия</option>
            <option value="d">Дон</option>
            <option value="s">Шериф</option>
        </select>
    </td>
    <td>
        <div class="falls" id="player<%=i%>Falls">
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" name="<%=i%> fall" value="1"> 1
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" name="<%=i%> fall" value="2" disabled> 2
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" name="<%=i%> fall" value="3" disabled> 3
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" name="<%=i%> fall" value="4" disabled> 4
            </label>
        </div>
    </td>
</tr><% }%>
        </tbody>
    </table>
</div>