<div class="playerLinesContainer">

<% for (var i = 1; i <= 10; i++) {
%>

<div class="control-group" id="player<%=i%>1Info">
    <label for="player1name" class="control-label">Player <%=i%></label>
    <div class="controls">
        <input type="text" class = "playerNameField" id="player1name" placeholder="enter player <%=i%> nick">
        <select class = "playerRoleField" name="player1role" id="player1role">
            <option value="r">Мирный</option>
            <option value="b">Мафия</option>
            <option value="d">Дон</option>
            <option value="s">Шериф</option>
        </select>
        <div class="falls">
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="1"> 1
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="2"> 2
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="3"> 3
            </label>
            <label class="checkbox inline">
                <input type="checkbox" class="playerfallField" value="4"> 4
            </label>
        </div>
        <div class="day">
            <label class="checkbox inline">
                <input type="checkbox" class="nominated" value="4"> 4
            </label>
        </div>
    </div>
</div>
<% }%>

</div>