<div id="ratingFilterContainer">
  <div class="control-group">
    <label class="control-label" for="periodType">Period Type</label>
    <div class="controls">
      <select name="periodType" id="periodType">
          <option>month</option>
          <option>season</option>
          <option>year</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="period">Period</label>
    <div class="controls">
      <select name="period" id="period">
          <option value="1">Jan</option>
          <option value="2">Feb</option>
          <option value="3">Mar</option>
          <option value="4">Apr</option>
          <option value="5">May</option>
          <option value="6">Jun</option>
          <option value="7">Jul</option>
          <option value="8">Aug</option>
          <option value="9">Sep</option>
          <option value="10">Oct</option>
          <option value="11">Nov</option>
          <option value="12">Dec</option>
      </select>
    </div>
  </div>
</div>
<table class="table table-bordered table-striped" id="ratingTable">
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Overall</th>
      <th># of games</th>
      <th>Average</th>
      <th>Best from Players</th>
      <th>Best from Refferee</th>
    </tr>
  </thead>
  <tbody>
  <%var Players = obj;
    for (var i = 0; i < Players.length; i++) { %>
    <tr id="Players[i].name">
      <td id="Players[i].avatar"><img class="playerAvatarInRating" src="img/grey/<%=i+1%>.png" alt=""></td>
      <td id="Players[i].name_name"><%=Players[i].name%></td>
      <td id="Players[i].name_sum"><%=Players[i].sum%></td>
      <td id="Players[i].name_gameNumber"><%=Players[i].gameNumber%></td>
      <td id="Players[i].name_average"><%=Players[i].sum / Players[i].gameNumber%></td>
      <td id="Players[i].name_bp"><%=Players[i].BP%></td>
      <td id="Players[i].name_br"><%=Players[i].BR%></td>
    </tr>
  <%};%>
  </tbody>
</table>
<div class="btn-group">
    <button class="btn btn-info" id="showRatingBtn">New Game</button>
</div>
