<div id="ratingFilterContainer">
  <div class="control-group">
    <label class="control-label" for="periodType">Period Type</label>
    <div class="controls">
      <select name="periodType" id="periodType">
          <option <%=periodType == 'month' ? 'selected' : '' %>>month</option>
          <option <%=periodType == 'season' ? 'selected' : '' %>>season</option>
          <option <%=periodType == 'year' ? 'selected' : '' %>>year</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="period">Period</label>
    <div class="controls" id="periodFilterContainer">
      <select name="period" id="period">
          <option <%=period == 1 ? 'selected' : '' %> value="1">Jan</option>
          <option <%=period == 2 ? 'selected' : '' %> value="2">Feb</option>
          <option <%=period == 3 ? 'selected' : '' %> value="3">Mar</option>
          <option <%=period == 4 ? 'selected' : '' %>value="4">Apr</option>
          <option <%=period == 5 ? 'selected' : '' %>value="5">May</option>
          <option <%=period == 6 ? 'selected' : '' %>value="6">Jun</option>
          <option <%=period == 7 ? 'selected' : '' %> value="7">Jul</option>
          <option <%=period == 8 ? 'selected' : '' %> value="8">Aug</option>
          <option <%=period == 9 ? 'selected' : '' %> value="9">Sep</option>
          <option <%=period == 10 ? 'selected' : '' %> value="10">Oct</option>
          <option <%=period == 11 ? 'selected' : '' %> value="11">Nov</option>
          <option <%=period == 12 ? 'selected' : '' %> value="12">Dec</option>
      </select>
    </div>
  </div>
</div>
<div class="control-group btn-group">
    <label class="control-label" style="color: #fff">Start New Game
    </label>
    <button class="btn btn-info" id="newGameButton">New Game</button>
</div>